

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
<body>
  <header 
            class="w-[85%]  xl:w-[73%]  container hidden lg:flex justify-between h-[60px]  items-center py-[45px] border-b-[1px] border-white border-opacity-40">
            <figure class="w-[140px]">
              <a href="{% url 'home_page' %}">
                <img src="{% static 'imgs/logo-light.png' %}" alt="Logo">
            </a>
            </figure>
            
        </header>

    <div class="main-container">
        <div class="form-container">

            <h2 class="srouce">Log to your profile</a></h2>

            <div class="form-body">
                <h2 class="title">Log in with</h2>
                <div class="social-login">
                    <ul>
                        <li class="google"><a href="#">Google</a></li>
                        <li class="fb"><a href="#">Facebook</a></li>
                    </ul>
                </div><!-- SOCIAL LOGIN -->

                <div class="_or">or</div>


                <form action="{% url 'login_view' %}" method="post" class="the-form">
                  {% csrf_token %}
                  {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}

                  {% csrf_token %}
                  {% include 'myfirstapp/myform.html' %}
                  
                  {% if form.non_field_errors %}
                      <div class="alert alert-danger">
                          {% for error in form.non_field_errors %}
                              {{ error }}
                          {% endfor %}
                      </div>
                  {% endif %}

                  <input type="submit" value="Log In">
                </form>


            </div><!-- FORM BODY-->

            <div class="form-footer">
                <div>
                    <span>Don't have an account?</span> <a href="{% url 'signup' %}">Sign Up</a>
                </div>
            </div><!-- FORM FOOTER -->

        </div><!-- FORM CONTAINER -->
    </div>

</body>
</html>